:root {
  --bs-primary-rgb: 30, 33, 40;
  --bs-secondary-rgb: 98, 104, 120;
  --bs-success-rgb: 171, 197, 83;

  --line-height: 2.1rem;
  --line-thickness: 1px;
}

.dNone {
  display: none;
}


/* reset */
*,
*::before,
*::after {
  box-sizing: border-box; /* 1 */
}
html {
  font-family: sans-serif; /* 2 */
  line-height: 1.15; /* 3 */
  -webkit-text-size-adjust: 100%; /* 4 */
  -ms-text-size-adjust: 100%; /* 4 */
  -ms-overflow-style: scrollbar; /* 5 */
  -webkit-tap-highlight-color: transparent; /* 6 */
}
/* IE10+ doesn't honor `<meta name="viewport">` in some cases. */
@-ms-viewport {
  width: device-width;
}
/* stylelint-disable selector-list-comma-newline-after
Shim for "new" HTML5 structural elements to display correctly (IE10, older browsers) */
article, aside, dialog, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block;
}

body {
  margin: 0; /* 1 */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.5;
  color: #212529;
  text-align: left; /* 3 */
  background-color: #fff; /* 2 */
}
/*
Suppress the focus outline on elements that cannot be accessed via keyboard.
This prevents an unwanted focus outline from appearing around elements that might still respond to pointer events.
Credit: https://github.com/suitcss/base
*/
[tabindex="-1"]:focus {
  outline: none !important;
}
/* 
Content grouping
1. Add the correct box sizing in Firefox.
2. Show the overflow in Edge and IE.
*/
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/* style start */
body {
    /* padding: 2rem 2rem 0 2rem; */
}

main {
    padding: 2rem 2rem 0 2rem;
    margin-bottom: 2rem;
}

span {
  color: red;
}

main .border-container {
  position: relative;
}

/* corner border */
main .upper-lines::before,
main .upper-lines::after,
main .lower-lines::before,
main .lower-lines::after {
  content: '';
  position: absolute;
  background-color: rgb(98, 104, 120);
}

main .upper-lines::before {
  height: var(--line-height);
  width: var(--line-thickness);
  top: -2.1rem;
  right: -1px;
}
main .upper-lines::after {
  height: var(--line-thickness);
  width: var(--line-height);
  top: -1px;
  right: -2.05rem;
}

main .lower-lines::before {
  height: var(--line-height);
  width: var(--line-thickness);
  bottom: -2.1rem;
  left: -1px;
}

main .lower-lines::after {
  height: var(--line-thickness);
  width: var(--line-height);
  bottom: -1px;
  left: -2.1rem;
}

/* legends */
.adOps, .accounts {
  position:relative;
  margin-bottom: 0;
}

.adOps::before,
.accounts::before {
  content: '';
  height: .6rem;
  width: .6rem;
  position: absolute;
  top: 50%;
  left: -1.1rem;
  transform: translate(-50%, -50%);
}

.adOps::before {
  background-color: #ABC553;
}
.accounts::before {
  background-color: #626878;
}

/* checkbox */
.checkBoxContainer .form-check-input[type=checkbox] {
    margin-right: 0.5rem;
}

label.form-check.form-check-label {
    /* font-size: 13px; */
    /* display: flex;
    flex-basis: fit-content; */

    font-size: .95rem; /*1rem*/
    /* font-weight: bold; */
    display: flex;
    flex-basis: auto;
    margin-inline: .2rem /*1.5rem;*/
}

.form-check-input:checked {
  background-color: #ABC553;
  border-color: #ABC553;
}
.form-check-input:focus {
  border-color: #abc55340;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(171, 197, 83, 0.25);
}

/* input styles */
input[type="text"], form select {
    border: none!important;
    border-bottom: 1px solid!important;
    border-radius: 0!important;
}

input[type="text"]:focus, form select:focus {
    box-shadow: inset 0px -3px 35px 0 #abc55340!important;
    /* box-shadow: inset 0 -3px 0 0 #abc55340!important; */
}

.form-select {
  background: url('data:image/svg+xml,<svg id="Layer_1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 128.22 71.12"><path fill="%23ABC553" class="cls-1" d="m69.06,69.06L126.16,11.97c2.01-2.01,2.61-5.02,1.52-7.64-1.08-2.62-3.64-4.33-6.48-4.33H7.01C4.18,0,1.62,1.71.54,4.33c-.37.87-.54,1.78-.54,2.68,0,1.83.71,3.62,2.05,4.96l57.1,57.1c1.31,1.3,3.11,2.05,4.96,2.05s3.65-.75,4.96-2.05Z"/></svg>') right 1rem center/12px 10px no-repeat;
}

#campaignType, #optimizationType,
#targetingMethod, #geo {
  border-color: #ABC553!important;
}

/* card P */
form .card p {
  margin: 0;
}

/* border-container */
.border-container {
  border: 1px solid #626878;
}

/* footer */
footer {
  padding-inline: 2rem;
}

footer .border-container {
  padding-block: 7rem;
  border-left: 1px solid #626878;
  border-top: 0;
  border-right: 0;
  border-bottom: 0;
}

footer p span {
  font-size: .8rem;
  color: white;
  vertical-align: middle;
}

footer p {
  padding-block: calc(var(--bs-gutter-x) * .5);
}

/* displaygroupurl */
.displayUrlGroup .card-body {
  background-color: #fff!important;
  color: #212529!important;
  height: 200px;
  overflow: hidden;
}

.displayUrlGroup .card-body:hover {
  overflow-y: scroll;
}